//- подключаем шаблон
extends /layouts/layout.jade


//- Описывам контен
//content start
block content
	#landos
		.block-1(data-id="index")
			.prallax(src="",
					data-imgset="true",
					data-path="/assets/img/",
					data-1024-1440="Desktop (1024-1440)/1",
					data-1440="Desktop HD (1440+)/1",
					data-768-1024="Tablet (768-1024)/1",
					data-320-768="Mobile (320-768)/1",
					data-ext="png"
					, alt="")
			.prallax-content
				.wrap
					.table
						.row
							.cell
								h1.h1-line.h1.white Подберем вам автомобиль всего за три дня!
								p.
									Подберем автомобиль исходя из пожеланий и проверим 
									состояние с технической и юридической стороны. #[br]
									Покажем только лучший вариант и поможем с оформлением.
								a.btn.btn-red(href="#") Закажите профессиональный подбор авто
								a.info-control
									span Листайте вниз
									img(width=24 height=42 src="/assets/img/icons/ScrollDown.svg")
		.block-2(data-id="КакМыРаботаем")
			.wrap
				.h1 Как все устроено
				.table.w100.block-2-items
					.row
						.cell.w25.block-2-item
							.ib
								.block-2-item-img
									img(src="/assets/img/icons/1-1.svg")
								.block-2-item-about
									.block-2-item-title Идеядеядеядеядея  дея дея дея
									.block-2-item-text.
										Вы рассказываете нам предпочтения 
										к автомобилю и бюджет.
						.cell.w25.block-2-item
							.ib
								.block-2-item-img
									img(src="/assets/img/icons/1-2.svg")
								.block-2-item-about
									.block-2-item-title Поиск
									.block-2-item-text.
										Мы сами мониторим рынок 
										и созваниваемся с продавцами. 
										Ищем подходящие варианты.
						.cell.w25.block-2-item
							.ib
								.block-2-item-img
									img(src="/assets/img/icons/1-3.svg")
								.block-2-item-about
									.block-2-item-title Диагностика
									.block-2-item-text.
										Мы сами ездим 
										и проверяем автомобили нашим оборудованием. Тщательно ищем скрытые недостатки и проверяем документы.
						.cell.w25.block-2-item
							.ib
								.block-2-item-img
									img(src="/assets/img/icons/1-4.svg")
								.block-2-item-about
									.block-2-item-title Покупка
									.block-2-item-text.
										Сопровождаем вас на место осмотра нашего варианта, делаем контрольную проверку. Торгуемся и составляем ДКП.
										Поздравляем вас с покупкой!

		.block-3(data-id="Особенности")
			.prallax(src="",
					data-imgset="true",
					data-path="/assets/img/",
					data-1024-1440="Desktop (1024-1440)/2",
					data-1440="Desktop HD (1440+)/2",
					data-768-1024="Tablet (768-1024)/2",
					data-320-768="Mobile (320-768)/2",
					data-ext="png"
					, alt="")
			.prallax-content
				.wrap
					.h1.h1-line.white Каждый автомобиль мы выбираем как себе
					p.white.dtext.
						Мы честно расскажем вам все достоинства и недостатки выбранного нами варианта. Мы уделяем большое внимание безопасности и надежности вашего автомобиля, однако, гибко подстраиваемся под ваши требования.
					.table.w100.block-3-items.white
						.row
							.cell.w25.block-3-item
								.ib
									.block-3-item-num >300
									.block-3-item-text Подобранных#[br]автомобилей
							.cell.w25.block-3-item
								.ib
									.block-3-item-num 5 лет
									.block-3-item-text Занимаемся#[br]автоподбором
							.cell.w25.block-3-item
								.ib
									.block-3-item-num 2 000 000	
									.block-3-item-text Самый дорогойавто#[br]подобранный нами
							.cell.w25.block-3-item
								.ib
									.block-3-item-num 170 000
									.block-3-item-text Самая крупная#[br]сторгованная сумма
		.block-4
			.wrap
				.block-4-items
					.block-4-item
						.ib
							.block-4-item-img
								img(src="/assets/img/icons/2-1.svg")
							.block-4-item-about
								.block-4-item-title Исправные системы безопасности
								.block-4-item-text.dtext.
									Часто, после крупных ДТП владельцы авто экономят на ремонте систем безопасности. Отключают лампочки ABS и ESP, а подушки безопасности заменяют на обманки. Такие авто могут не защитить вас в нужный момент, зато мы можем защитить вас от таких авто.
					.block-4-item
						.ib
							.block-4-item-img
								img(src="/assets/img/icons/2-2.svg")
							.block-4-item-about
								.block-4-item-title Оригинальный пробег
								.block-4-item-text.dtext.
									Сейчас на любом авторынке можно изменить показания одометра 
									на удобное для продажи число. Мы знаем, как это проверить 
									и подберем автомобиль с реальным пробегом.Сейчас на любом авторынке можно изменить показания одометра 
					.block-4-item
						.ib
							.block-4-item-img
								img(src="/assets/img/icons/2-3.svg")
							.block-4-item-about
								.block-4-item-title Правильная геометрия кузова
								.block-4-item-text.dtext.
									Геометрию кузова почти невозможно восстановить, после того, 
									как она была нарушена. Авто с нарушенной геометрией 
									уже не претендует на тот рейтинг безопасности, который был 
									ему выдан. Такие авто мы не рассматриваем к покупке.
					.block-4-item
						.ib
							.block-4-item-img
								img(src="/assets/img/icons/2-4.svg")
							.block-4-item-about
								.block-4-item-title Не требующие крупных вложений
								.block-4-item-text.dtext.
									Некоторые продавцы маскируют неисправности, которые
									приведут к крупной поломке и перекладывают его ремонт 
									на следующего владельца. Мы рассматриваем только авто 
		.block-5(data-id="Стоимость")
			.prallax(src="",
					data-imgset="true",
					data-path="/assets/img/",
					data-1024-1440="Desktop (1024-1440)/3",
					data-1440="Desktop HD (1440+)/3",
					data-768-1024="Tablet (768-1024)/3",
					data-320-768="Mobile (320-768)/3",
					data-ext="png"
					, alt="")
			.prallax-content
				.wrap
					.block-5-title.h1.white.h1-line Сэкономьте свое время и нервы с помощью FindYourCar!
					.block-5-price
						.block-5-price-big.
							7000
							#[img.svg-rouble(src="/assets/img/icons/Rouble.svg")]
						.block-5-price-text.
							+25% от торга. Без предоплаты.#[br]
							#[i.white.italic в 90% случаев - бесплатно.]
						.block-5-price-btn
							a.btn.btn-red(href="#") Закажите подбор авто прямо сейчас!
					.block-5-text.
						Мы берем 7000 рублей и 25% от сторгованной суммы.#[br]
						За эти деньги мы полностью подбираем для вас автомобиль.
						#[br]#[i.white.italic Никаких предоплат] — услугу вы оплачиваете только  при подписании ДКП.#[br]
						Благодаря профессиональному торгу, #[i.white.italic в 90% случаев услуги оказываются бесплатными.]
					.clearfix

		.block-6(data-id="СпециалистНаВыезд")
			.wrap
				.block-6-title.h1.h1-line Уже нашли автомобиль?

				.block-6-img
					img(src="",
					data-imgset="true",
					data-path="/assets/img/",
					data-1024-1440="Desktop (1024-1440)/MacBook",
					data-1440="Desktop HD (1440+)/MacBook",
					data-768-1024="Tablet (768-1024)/MacBook",
					data-320-768="Mobile (320-768)/MacBook",
					data-ext="png"
					, alt="")
				.block-6-text
					p.
						Не верьте продавцу на слово. Мы приедем и проверим этот автомобиль нашим оборудованием. Проверим кузов, электрику и электронику, системы безопасности 
						и документы, расскажем о всех достоинствах
						и преимуществах.
					p.
						Такая проверка будет стоить всего 1500 рублей.
						Кроме того, #[i.italic всего за 1000 рублей] можно заказать юридическую проверку чистоты удаленно!
				.block-6-btn
					a.btn.btn-red(href="#") Хочу получить помощь эксперта

		.block-7(data-id="Отзывы")
			.swiper-container
				.swiper-wrapper
					- var items = ["1", "2", "3", "4", "5", "6"]
					- each item in items
						.swiper-slide
							.block-7-ava
								.block-7-img
									img(src="")
								.block-7-username Дмитрий Головачев
							.block-7-text.
								Александр, спасибо Вам за помощь в подборе авто. Хороший сервис, все оперативно и без лишних движений. Удачных Вам клиентов и хорошего развития. Благодарю.
							.block-7-carinfo
								.table
									.row
										.cell.block-7-carinfo-text
											.block-7-carinfo-text-title #[b Pegeout Boxer]
											.block-7-carinfo-text-text 2008 г., 85 т.км, 2.2, механика Выгода — 30 000Р
										.cell.block-7-carinfo-price  #[b5444 Р]

			// Add Pagination
			.wrap
				.swiper-button-next.swiper-button-white
				.swiper-button-prev.swiper-button-white

		.block-8
			.pralax
			.wrap
				.h1.white.block-8-title Не тратьте свое время на покупку авто.
				.block-8-btns
					a.btn.btn-red(href="#") Хочу поговорить с экспертом
					a.btn.btn-blue(href="#") Наша группа Вконтакте
					div.ib.w100
						a.link.white.ib(href="#") #[span.white Политика конфиденциальности]
